.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "leftsidebar content rightsidebar"
        "footer footer footer";
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 80px 7fr 80px;

    gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

header {
    grid-area: header;
    border-bottom: 4px solid;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    grid-area: content;
}

asideL {
    grid-area: leftsidebar;
    border-right: 2px solid;

}

asideR {
    grid-area: rightsidebar;
}

footer {
    grid-area: footer;
}

.text-box {
    border: 1px solid #000;
    padding: 10px;
    margin: 0 auto;
    text-align:center;
}

.text-box-noAlign {
    border: 1px solid #000;
    padding: 20px;
    margin: 0 auto;
}

.yellowBG {
    background-color: yellow;
    display:inline;
}

.greenBG {
    background-color: greenyellow;
    display: inline;
}

.cyanBG {
    background-color: cyan;
    display: inline;
}

.centerAlign {
    text-align:center;
    margin:5px;
}
